<ion-header >
  <ion-toolbar color="primary">
      <ion-icon slot="start" style="margin-left:15px;" name="wallet"></ion-icon>
    <ion-title>
      My Expenses
    </ion-title>
    <ion-icon (click)="save()" large slot="end" style="margin-right:15px;cursor: pointer;font-size: 22px;" title="Save" name="save"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Add expense</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Narrative:</ion-label>
              <ion-input type="text" [(ngModel)]="expensePurpose"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Amount:</ion-label>
              <ion-input type="number" [(ngModel)]="expenseAmount"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Category:</ion-label>
              <ion-select placeholder="Choose category" [(ngModel)]="category">
                <ion-select-option value="1">Income</ion-select-option>
                <ion-select-option value="-1">Expense</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Date:</ion-label>
                <ion-datetime picker-format="HH:mm MMM DD YYYY" display-format="HH:mm MMMM DD YYYY" [(ngModel)]="expenseDate"></ion-datetime>
              </ion-item>
            <ion-item class="ion-text-right">
              <ion-button margin (click)="clear()" fill="outline" color="danger">
                <ion-icon slot="start" name="close"></ion-icon>
                Clear
              </ion-button>
              <ion-button margin slot="end" (click)="add()" color="primary">
                <ion-icon slot="start" name="add"></ion-icon>
                Add
              </ion-button>
            </ion-item>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
          <ion-segment (ionChange)="segmentChanged($event)">
              <ion-segment-button value="all" checked>
                <ion-label>All</ion-label>
              </ion-segment-button>
              <ion-segment-button value="month">
                <ion-label>This Month</ion-label>
              </ion-segment-button>
              <ion-segment-button value="year">
                  <ion-label>This Year</ion-label>
                </ion-segment-button>
            </ion-segment>
        <ion-list *ngIf="expenses">
          <ion-item *ngFor="let item of expenses" style="display:flex">
            {{item.purpose+' : '+(item.amount*item.category)+' '+currency}}
            <strong style="margin-left: auto">{{getDate(item.date)}}</strong>
            <ion-icon (click)="delete(item)" style="cursor:pointer" slot="end" name="close"></ion-icon>
          </ion-item>
          <ion-item *ngIf="expenses.length>0">
            Balance : {{sum()+' '+currency}}
          </ion-item>
        </ion-list>
        <ion-item text-center color="warning" *ngIf="!expenses || expenses.length==0">
            <ion-label>
              There is no any data
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
